<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="app/styles/main.css">
  </head>
  
  <body class="main" ng-app="indeygithubioApp">
    <div class="header" ng-controller="HeadCtrl">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" ng-class="{active:isSet(1)}" href="#/" ng-click="setTab(1)">indey.github.io</a>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse" >
            <ul class="nav navbar-nav">
              <li ng-class="{active:isSet(2)}"><a href="#/projects" ng-click="setTab(2)">Projects</a></li>
              <li ng-class="{active:isSet(3)}"><a href="#/resume" ng-click="setTab(3)">Resume</a></li>
              <li><a ng-href="http://www.github.com/indey">github</a></li>
            </ul>
            <div class="caution work-in-progress">
              <img src="app/images/workInProgress.png"/>
          </div>  
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="page {{pageClass}}" ng-view></div>
    </div>

    <!-- bower_components -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>

        <!-- scripts.js -->
        <script src="app/scripts/app.js"></script>
        <script src="app/scripts/controllers/main.js"></script>
        <script src="app/scripts/controllers/resume.js"></script>
        <script src="app/scripts/controllers/projects.js"></script>
        <script src="app/scripts/controllers/header.js"></script>
</body>
</html>
